{% extends "base.html" %}

{% block extra_css %}

{% endblock %}


{% block content %}
<div class="container mt-5">
    <div class="banner">
        <h1>Welcome to Our E-Learning Platform</h1>
        <p>Explore, Learn, and Achieve with Our Online Courses</p>
        <a href="{% url 'register' %}" class="btn btn-light btn-lg">Join Now</a>
    </div>

    <div class="feature">
        <h2>Featured Courses</h2>
    </div>
    <div id="featured-courses-container"></div>        
    
</div>
{% endblock content %}


{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        fetch('http://127.0.0.1:8000/api/courses/')
        .then(response => response.json())
        .then(data => {
            const container = document.getElementById('featured-courses-container');
            let coursesHtml = '<div class="row">'; 
            data.forEach((course, index) => {
                const courseElement = `
                    <div class="col-md-4 mb-4"> 
                        <div class="course-card">
                            <img src="${course.cover}" alt="Course Image" class="img-fluid">
                            <div class="course-card-body">
                                <h5 class="course-title">${course.title}</h5>
                                <p class="course-description">${course.description}</p>
                                <a href="/courses/${course.id}" class="btn btn-primary">Learn More</a>
                            </div>
                        </div>
                    </div>
                `;
                coursesHtml += courseElement; 
            });
            coursesHtml += '</div>';
            container.innerHTML = coursesHtml; 
        })
        .catch(error => console.error('Error:', error));
    });
    
</script>
{% endblock extra_js %} 
                    