{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h2 class="mb-0">Add New Course</h2>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                <div class="mb-3 row">
                    <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
                    <div class="col-sm-10">
                        {{ field }}
                        {% if field.help_text %}
                        <div id="help{{ field.name }}" class="form-text">{{ field.help_text }}</div>
                        {% endif %}
                        {% for error in field.errors %}
                        <div class="alert alert-danger" role="alert">{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}

                <hr> <!-- 可以加入一条分隔线表示不同部分 -->

                {{ material_formset.management_form }}
                {% for form in material_formset %}
                    <div class="form-group row mb-2">
                        <div class="col-sm-2">Material {{ form.name.label_tag }}</div>
                        <div class="col-sm-4">{{ form.name }}</div>
                        <div class="col-sm-4">{{ form.file }}</div>
                        <div class="col-sm-2">{{ form.DELETE }} Delete</div> <!-- 如果你启用了can_delete -->
                    </div>
                {% endfor %}

                <div class="row my-4">
                    <div class="col-sm-10 offset-sm-2"> <!-- Offset使按钮与输入框对齐 -->
                        <button type="submit" class="btn btn-success">Add Course</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}
