{% extends 'base.html' %}

{% block content %}
{% for course in courses %}
<div class="col-md-4 mb-4">
    <div class="card">
        {% if course.cover %}
        <img src="{{ course.cover.url }}" class="card-img-top" alt="Course Cover">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ course.title }}</h5>
            <p class="card-text">{{ course.description|truncatewords:20 }}</p>
            <a href="{% url 'courses:course_detail' course.id %}" class="btn btn-primary">View Course</a>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
