
.navbar-custom {
    background-color: #0056b3; /* Adjusted to a deeper shade of blue for a more Coursera-like feel */
}
.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #fff; /* White text for better contrast */
}
.navbar-custom .nav-link:hover {
    color: #f8f9fa; /* Slightly lighter shade on hover */
}
.form-inline .form-control {
    margin-right: 10px; /* Spacing between input and button */
}


/* 调整提示词的样式 */
.form-text {
    display: block; /* 确保提示词在新的一行 */
    /* margin-top: 0.25rem; 添加一点间距在提示词的顶部 */
    font-size: 0.8em; /* 缩小字体大小 */
    color: #6c757d; /* 减淡字体颜色，使用 Bootstrap 的默认次要文本颜色 */
}

/* 针对错误信息的样式调整 */
.alert-danger {
    margin-top: 0.25rem; /* 在错误信息顶部添加一点间距 */
    font-size: 0.875em; /* 缩小字体大小 */
}


.welcome-container {
    max-width: 600px;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}


/* comments */
.comment {
    margin-bottom: 0px;
    margin-top: 20px;
    padding: 5px;
    position: relative; /* 新增：为绝对定位的时间戳提供参考 */
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* 确保图片为圆形 */
    object-fit: cover; /* 确保图片内容适合容器 */
    background-color: #fff;
}

.avatar-nav {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* 确保图片为圆形 */
    object-fit: cover; /* 确保图片内容适合容器 */
    background-color: #fff;
}

.avatar-list {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* 确保图片为圆形 */
    object-fit: cover; /* 确保图片内容适合容器 */
    background-color: #ffffff;
    padding: 3px;
}

.comment-header {
    display: flex;
    align-items: center;
}

.comment-info {
    margin-left: 10px;
    font-size: 0.9em;
    color: #666;
}

.comment-timestamp {
    position: absolute;
    bottom: 0px; /* 调整为所需的外侧距离 */
    right: 15px;
    font-size: 0.6rem; /* 调整时间戳的字体大小 */
    color: #999; /* 调整字体颜色为更淡的灰色 */
}


#navbarNotificationDropdown::after {
    display: none;
}


body, html {
    height: 100%;
    margin: 0;
    background-color: #f0f0f0;

}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    margin-top: auto;
}


.banner {
    background-color: #0056b3; /* 深蓝色背景 */
    color: #fff;
    padding: 60px 0;
    text-align: center;
}
.banner h1 {
    font-size: 3em;
    margin-bottom: 20px;
}
.banner p {
    font-size: 1.5em;
}
.feature {
    margin-top: 40px;
}
.feature h2 {
    text-align: center;
    margin-bottom: 40px;
}


.btn-sm-user {
    height: 30px;
    margin: auto；
}

.student-name-small {
    font-size: 14px; /* You can adjust the font size as needed */
}


.material-select {
    font-size: 0.8rem; /* 调整选框内文字大小 */
}

#downloadBtn {
    height: 38px; /* 保持下载按钮的高度与下拉选框一致 */
    width: 100%; /* 可选，确保按钮宽度填满容器 */
}


.download-btn {
    display: inline-block;
    background-color: #4f4f50; /* Bootstrap primary color */
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    height: auto;
}

.download-btn img {
    width: 20px;
    height: 20px;
}

.date-input {
    max-width: 250px; /* 或任何你想要的宽度 */
}


/* 确保卡片内容不会溢出 */
.card-body {
    overflow: hidden;
}

/* 文字溢出显示省略号 */
.card-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* 限制为显示3行 */
    overflow: hidden;
}

/* 确保卡片底部按钮固定 */
.card-footer {
    margin-top: auto; /* 自动推到底部 */
}



#chat-container {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000; /* 保证容器位于其他元素之上 */
}

#chat-icon {
    display: block; /* 显示聊天图标 */
    cursor: pointer;
    position: fixed;
    
    bottom: 20px; /* 根据您的需求调整 */
    right: 20px;
    z-index: 1001; /* 确保图标位于聊天窗口之上 */
}

#chat-icon img {
    width: 50px; 
    height: 50px;
}

#chat-plugin {
    display: none; /* 默认不显示 */
    position: fixed;
    bottom: 75px;
    right: 20px;
    width: 300px; /* 根据需要调整宽度 */
    max-height: 400px; /* 可以根据需要调整高度 */
    z-index: 1000; /* 与容器相同确保在其上 */
    overflow: auto; /* 允许滚动 */
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2); /* 添加阴影效果 */
}
/* 聊天头部样式 */
#chat-header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

/* 聊天消息区域的样式 */
.chat-messages {
    max-height: 300px; /* 限制高度并允许滚动 */
    overflow-y: auto; /* 添加滚动条 */
    padding: 10px;
    background-color: #fafafa; /* 轻微的背景色 */
}

/* 消息的样式 */
.chat-message {
    display: flex;
    word-wrap: break-word; 
    background-color: #fff; /* 白色背景 */
    padding: 5px 10px;
    margin-bottom: 8px;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0,0,0,.1); /* 轻微的阴影效果 */
}


.chat-avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

/* 聊天输入区域的样式 */
.chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
}

/* 输入框的样式 */
#chat-message-input {
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
}

/* 发送按钮的样式 */
#chat-message-send {
    background-color: #0056b3; /* 使用更深的蓝色，为按钮添加颜色 */
    color: #fff; /* 按钮文字颜色为白色 */
    border: none;
    padding: 6px 12px;
    margin-left: 10px; /* 输入框与按钮之间的间隔 */
    cursor: pointer;
    border-radius: 3px;
}

/* 聊天时间戳的样式 */
.chat-timestamp {
    display: block; /* 显示为块级元素，使时间戳在用户名下方 */
    font-size: 0.75rem; /* 调整字体大小 */
    color: #999; /* 字体颜色为淡灰色 */
    margin-top: 5px; /* 在用户名和时间戳之间添加间隔 */
}



.course-card {
    display: flex;
    flex-direction: column;
    height: 350px;  
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
}

.course-card img {
    height: 160px;  
    object-fit: cover;  
}

.course-card-body {
    flex: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.course-title, .course-description {
    margin: 5px 0;  
}

.course-description {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 限制在三行内 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; /* 允许文本换行 */
}

.btn-primary {
    margin-top: auto;  
}

