
.navbar-custom {
    background-color: #0056b3; /* Adjusted to a deeper shade of blue for a more Coursera-like feel */
}
.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #fff; /* White text for better contrast */
}
.navbar-custom .nav-link:hover {
    color: #f8f9fa; /* Slightly lighter shade on hover */
}
.form-inline .form-control {
    margin-right: 10px; /* Spacing between input and button */
}


/* 调整提示词的样式 */
.form-text {
    display: block; /* 确保提示词在新的一行 */
    /* margin-top: 0.25rem; 添加一点间距在提示词的顶部 */
    font-size: 0.8em; /* 缩小字体大小 */
    color: #6c757d; /* 减淡字体颜色，使用 Bootstrap 的默认次要文本颜色 */
}

/* 针对错误信息的样式调整 */
.alert-danger {
    margin-top: 0.25rem; /* 在错误信息顶部添加一点间距 */
    font-size: 0.875em; /* 缩小字体大小 */
}


.welcome-container {
    max-width: 600px;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}


/* comments */
.comment {
    margin-bottom: 0px;
    margin-top: 20px;
    padding: 5px;
    position: relative; /* 新增：为绝对定位的时间戳提供参考 */
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* 确保图片为圆形 */
    object-fit: cover; /* 确保图片内容适合容器 */
    background-color: #fff;
}

.avatar-nav {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* 确保图片为圆形 */
    object-fit: cover; /* 确保图片内容适合容器 */
    background-color: #fff;
}

.avatar-list {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* 确保图片为圆形 */
    object-fit: cover; /* 确保图片内容适合容器 */
    background-color: #ffffff;
    padding: 3px;
}

.comment-header {
    display: flex;
    align-items: center;
}

.comment-info {
    margin-left: 10px;
    font-size: 0.9em;
    color: #666;
}

.comment-timestamp {
    position: absolute;
    bottom: 0px; /* 调整为所需的外侧距离 */
    right: 15px;
    font-size: 0.6rem; /* 调整时间戳的字体大小 */
    color: #999; /* 调整字体颜色为更淡的灰色 */
}


#navbarNotificationDropdown::after {
    display: none;
}

body, html {
    height: 100%;
    margin: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    margin-top: auto;
}


.banner {
    background-color: #0056b3; /* 深蓝色背景 */
    color: #fff;
    padding: 60px 0;
    text-align: center;
}
.banner h1 {
    font-size: 3em;
    margin-bottom: 20px;
}
.banner p {
    font-size: 1.5em;
}
.feature {
    margin-top: 40px;
}
.feature h2 {
    text-align: center;
    margin-bottom: 40px;
}
.course-card {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.course-card img {
    max-width: 100%;
    height: auto;
}


.btn-sm-user {
    height: 30px;
    margin: auto；
}

.student-name-small {
    font-size: 14px; /* You can adjust the font size as needed */
}


.material-select {
    font-size: 0.8rem; /* 调整选框内文字大小 */
}

#downloadBtn {
    height: 38px; /* 保持下载按钮的高度与下拉选框一致 */
    width: 100%; /* 可选，确保按钮宽度填满容器 */
}


.download-btn {
    display: inline-block;
    background-color: #4f4f50; /* Bootstrap primary color */
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    height: auto;
}

.download-btn img {
    width: 20px;
    height: 20px;
}

.date-input {
    max-width: 250px; /* 或任何你想要的宽度 */
}


/* 确保卡片内容不会溢出 */
.card-body {
    overflow: hidden;
}

/* 文字溢出显示省略号 */
.card-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* 限制为显示3行 */
    overflow: hidden;
}

/* 确保卡片底部按钮固定 */
.card-footer {
    margin-top: auto; /* 自动推到底部 */
}


.chat-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.chat-header {
    padding: 10px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
}

.chat-messages {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
}

.chat-input {
    padding: 10px;
    border-top: 1px solid #ddd;
    display: flex;
}

.chat-input input {
    flex-grow: 1;
    margin-right: 10px;
}

.chat-input button {
    cursor: pointer;
}
